---
import type { MarkdownInstance } from "astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import WorksPostLink from "../components/WorksPostLink.astro";
import Ogp from "../components/Ogp.astro";
import Icon_RssFeed from "../components/icon/rss_feed.astro";

const allWorks : MarkdownInstance<Record<string, any>>[] = Object.values(import.meta.glob("./works-posts/*.md", { eager: true }));
const pageTitle = "制作物";
const description = "月波 清火の制作したものについて記録しているサイト。制作物一覧。"
---

<BaseLayout title={pageTitle}>
  <Fragment slot="head">
    <Ogp title={pageTitle} description={description}/>
    <link
      rel="alternate"
      type="application/rss+xml"
      title="tukinami.github.io - 制作物"
      href={new URL("work-posts.xml", Astro.site)}
    />
  </Fragment>
  <h1>{pageTitle} <a href={new URL("work-posts.xml", Astro.site)}><Icon_RssFeed /></a></h1>
  <div class="works-post-list">
    {
      allWorks.map((work) => (
        <WorksPostLink
          title={work.frontmatter.title}
          description={work.frontmatter.description}
          thumbnail={work.frontmatter.thumbnail}
          thumbnailAlt={work.frontmatter.thumbnailAlt}
          url={work.url}
        />
      ))
    }
  </div>
</BaseLayout>
