---
import WorksPostIntro from "./WorksPostIntro.astro";

export interface Props {
  title: string;
  description: string;
  thumbnail: string;
  thumbnailAlt: string;
  url: string | undefined;
}

const { title, description, thumbnail, thumbnailAlt, url } = Astro.props;
---

{
  url === undefined ? (
    <div class="works-post-link">
      <WorksPostIntro
        description={description}
        title={title}
        thumbnail={thumbnail}
        thumbnailAlt={thumbnailAlt}
      />
    </div>
  ) : (
    <a href={url} class="works-post-link">
      <WorksPostIntro
        description={description}
        title={title}
        thumbnail={thumbnail}
        thumbnailAlt={thumbnailAlt}
      />
    </a>
  )
}
