---
export interface WorkFrontmatter {
  title: string;
  pubDate: string;
  description: string;
  repository: string;
  isReleased: boolean;
  thumbnail: string;
  thumbnailAlt: string;
  ogpImage?: string;
  ogpImageAlt?: string;
  ogpDescription?: string;
  tags: string[];
}

export interface Props {
  frontmatter: WorkFrontmatter;
}

import BaseLayout from "./BaseLayout.astro";
import TagLink from "../components/TagLink.astro";
import Ogp from "../components/Ogp.astro";

const { frontmatter } = Astro.props;

const hasOgp = !(frontmatter.ogpImage === undefined && frontmatter.ogpDescription === undefined) ;
---

<BaseLayout title={frontmatter.title}>
  {
    hasOgp ? (
      <Fragment slot="head">
        <Ogp title={frontmatter.title} imagePath={frontmatter.ogpImage} imageAlt={frontmatter.ogpImageAlt} description={frontmatter.ogpDescription} />
      </Fragment>
    ) : null
  }
  <div><a href="/works">制作物へ</a></div>
  <article>
    <header>
      <h1>{frontmatter.title}</h1>
      <div>
        公開日: <time datetime={frontmatter.pubDate}>{frontmatter.pubDate}</time
        >
      </div>
      <div>
        <a href={frontmatter.repository}>公開レポジトリ</a>{
          frontmatter.isReleased ? (
            <>
              <span> : </span>
              <a href={`${frontmatter.repository}/releases`}>リリース</a>
            </>
          ) : (
            ""
          )
        }
      </div>
      <div>{frontmatter.description}</div>
      <div>
        タグ: {frontmatter.tags.map((tag) => <TagLink tagName={tag} />)}
      </div>
    </header>
    <div class="markdown-works-post">
      <slot />
    </div>
  </article>
</BaseLayout>
